[Unit]
Description=frp server service
After=network-online.target
[Service]
Type=simple
ExecStart=/usr/local/frps/frps -c /usr/local/frps/frps.ini # server
Restart=always
[Install]
WantedBy=multi-user.target
